# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore intellij config directory
.idea/

# Ignore macOS files
.DS_Store

# Ignore test mariaDB files
**/mariadb

java_pid*.*

**/log/
**/logs/